@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
}

h3,
h6 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.top-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;

    & p {
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }

    & img {
        width: 200px;
    }
}

/* .menu-bar {
    display: flex;
    align-items: center;
} */

/* .menu {
    display: none;
} */

/* .hamburguer-button {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    justify-content: space-around;

    & span {
        background-color: black;
        display: block;
        width: 100%;
        height: 3px;
    }
} */

.main-container {
    background-color: gainsboro;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.improved-single-pages-list {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}

.improved-single-page-card {
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    & a img {
        width: 100%;
        cursor: pointer;
        transition: opacity 0.3s;
        border: 1px solid gainsboro;
    }

    & a img:hover {
        opacity: 0.8;
    }
}

.template-window {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.template-view {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transform: translateX(0);
    transition: all .7s ease;
    border-radius: 10px;
    overflow: hidden;
}

.before-after-view {
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    position: relative;
    padding-top: 70px;


    & img {
        width: 100%;
        border-top: 1px solid gray;
    }
}

.before-view-header {
    position: absolute;
    top: 0;
    right: 45%;
}

.after-view-header {
    position: absolute;
    top: 0;
    right: 45%;
}

.after-view-action {
    position: fixed;
    bottom: 10%;
    right: 10%;
    padding: 1em 2em;
    border-radius: 20px;
    border: 1px solid gray;
    opacity: .4;
}

.after-view-action:hover {
    opacity: 1;
}

#template-view[data-isAfter="true"] {
    transform: translateX(-50%);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {

    .improved-single-pages-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .menu {
        display: block;
    }

    .hamburguer-button {
        display: none;
    }

    .template-view {
        width: 100%;
    }

    .after-view-action {
        display: none;
    }

}