.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar a {
    text-decoration: none;
    color: #0077FF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.button-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-mobile-item {
    display: block;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #444;
    margin-bottom: 10px;
}

.logo-mobile-item img {
    max-width: 120px;
}

.hamburger-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.hamburger-btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #0077FF;
    border-radius: 2px;
    transition: all 0.3s linear;
    transform-origin: 1px;
}

.hamburger-btn span.open:nth-child(1) {
    transform: rotate(30deg) translate(5px, 2px);
}

.hamburger-btn span.open:nth-child(2) {
    opacity: 0;
}

.hamburger-btn span.open:nth-child(3) {
    transform: rotate(-30deg) translate(5px, -2px);
}

.menu-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: gainsboro;
    list-style: none;
    padding: 20px;
    margin: 0;

    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 999;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-list.active {
    transform: translateX(0);
}

.menu-item a {
    display: block;
    padding: 15px 0;
    color: #1D232F;
    text-decoration: none;
    font-size: small;
    width: 100%;
    border-bottom: 1px solid #444;
}

.menu-item:last-child a {
    border-bottom: none;
}

.custom-button {
    background-color: #0d6efd;
    border-radius: 30px;
    padding: 10px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: small;
}

.custom-button:hover {
    background-color: #0b5ed7;
}

@media (min-width: 768px) {

    .menu-header {
        display: flex;
        justify-content: center;
    }

    .nav-bar {
        width: 85%;
    }

    .logo-desktop {
        display: block;
    }

    .logo-desktop img {
        max-width: 150px;
    }

    .logo-mobile-item {
        display: none;
    }

    .hamburger-btn {
        display: none;
    }

    .menu-list {
        position: static;
        transform: translateX(0);
        height: auto;
        width: auto;
        background: none;

        flex-direction: row;
        gap: 20px;
        padding: 0;
    }

    .menu-item a {
        padding: 0;
        border-bottom: none;
    }
}

@media (min-width: 1116px) {

    .nav-bar {
        width: 70%;
    }
}