body {
    margin: 0;
    padding: 0;
}

h1,
h2,
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;

    background-image: linear-gradient(to bottom right,
            #0077FF 0%,
            #EDF6FF 50%,
            #0077FF 100%);
}

.star-card-icon {
    display: flex;
    color: #0077FF;
    gap: 5px;
}

.remint-row-efect h2 {
    font-size: small;
}

.amazon-row-efect h2 {
    font-size: small;
}

.service-container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #FBFBFB;
}

.subscription-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F1F8FF;
}

.compare-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.numbers-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #0077E1;
}

.numbers {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 20px;
    color: white;
}

.numbers-card-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.number-card h2 {
    font-size: 2.5rem;
    margin: 0;
}

.number-card p {
    color: #C9E4FF;
    font-size: x-small;
    /* margin: 0; */
}

.compare {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 20px;
}

.compare-table-header {
    display: none
}

.compare-table {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.subscription {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subscription p {
    color: #606F82;
    font-size: small;
}

.subscription-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 20px;
}

.subscription-form input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #CCC;
}

.welcome-message {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.services {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.services h1 {
    margin: 0;
    text-align: center;
}

.services p {
    margin: 0;
    text-align: center;
    color: #606F82;
}

.serice-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    padding: 20px;
    /* gap: 10px; */
    border-radius: 10px;

    background-color: white;
    border: 1px solid #E0E4E7;
    font-size: small;
}

.card p {
    margin: 0;
    padding: 0;
    text-align: start;
    font-size: small;
}

.card-icon {
    background-color: #0077E1;
    color: white;
    padding: 8px;
    border-radius: 10px;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.trend-button {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #EDF6FF;
    padding: 10px;
    border-radius: 20px;
    font-size: small;
    color: #0077FF;
    border: 1px solid #0077FF;
}

.offer-button {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #0077FF;
    padding: 10px;
    border-radius: 10px;
    font-size: small;
    color: white;
    border: 1px solid #0077FF;
}

.learn-button {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: small;
    color: black;
    border: 1px solid #AAA;
}

.row {
    display: flex;
    gap: 10px;
}

.row-index {
    display: flex;
}

.row-index div {
    border-right: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}

.column-index {
    display: flex;
    flex-direction: column;
}

.column-index h2 {
    margin: 0;
    padding: 0;
}

#last-child {
    border-right: none;
}

.image2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.remint-efect {
    display: flex;
    gap: 10px;
    overflow: hidden;
    align-items: center;
    background-color: #EDF6FF;
    border-radius: 10px;
    border: 1px solid #0077FF;
    height: 40px;
}

.amazon-efect {
    display: flex;
    gap: 10px;
    overflow: hidden;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #CCC;
    height: 40px;
}

.default-efect p {
    color: #62666F;
    font-weight: bold;
    font-size: small;
}

.remint-efect p {
    color: #62666F;
    font-weight: bold;
    font-size: small;
}

.amazon-efect p {
    color: #62666F;
    font-size: small;
}

@media (min-width: 768px) {

    .container {
        align-items: center;
    }

    .service-container {
        align-items: center;
    }

    .subscription-container {
        align-items: center;
    }

    .compare-container {
        align-items: center;
    }

    .compare {
        width: 85%;
    }

    .numbers {
        width: 85%;
    }

    .numbers-card-list {
        flex-direction: row;
        justify-content: space-between;
    }

    .compare-table-header {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }

    .compare-table {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }

    .remint-row-efect {
        display: none;
    }

    .amazon-row-efect {
        display: none;
    }

    .subscription-form {
        display: flex;
    }

    .subscription-form input {
        width: 250px;
    }

    .welcome-message {
        width: 85%;
        grid-template-columns: 1fr 1fr;
    }

    .services {
        width: 85%;
        padding: 0;
    }

    .subscription {
        width: 60%;
    }

    .serice-cards {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    .message {
        padding: 0;
    }

    .message h1 {
        font-size: 3rem;
        margin: 0;
    }

    .image2 {
        padding: 0;
    }

    .number-card h2 {
        font-size: 2rem;
    }

}

@media (min-width: 1116px) {

    .welcome-message {
        width: 70%;
    }

    .services {
        width: 70%;
    }

    .compare {
        width: 60%;
    }

    .numbers {
        width: 70%;
    }

    .number-card h2 {
        font-size: 3.2rem;
    }

    .number-card p {
        font-size: medium;
    }
}