.footer-content {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.links {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column p {
    margin: 0;
    color: #66707C;
    font-size: smaller;
}

.rights {
    margin-top: 20px;
    color: #66707C;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #66707C;
    padding-top: 20px;
    padding-bottom: 20px;
}

.rights p {
    font-size: smaller;
}

@media (min-width: 768px) {

    .container {
        justify-content: center;
    }

    .footer {
        width: 85%;
        text-align: start;
    }

    .links {
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }
}

@media (min-width: 1116px) {

    .footer {
        width: 70%;
    }
}