.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;

    & h3 {
        color: #0379FF;
    }

    & .menu-items {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: gainsboro;
        list-style: none;
        padding: 20px;
        margin: 0;

        transform: translateX(-100%);
        transition: transform 0.4s ease-in-out;
        z-index: 999;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0;

        & .menu-item {

            & h3 {
                color: #0379FF;
            }

            & a {
                display: block;
                padding: 15px 0;
                color: #1D232F;
                text-decoration: none;
                font-size: small;
                width: 100%;
                border-bottom: 1px solid #78B6FF;
                cursor: pointer;
            }
        }

        & .menu-item a:hover {
            color: #0379FF;
        }

        .menu-item:last-child a {
            border-bottom: none;
        }
    }

    & .button-group {
        display: flex;
        align-items: center;
        gap: 15px;

        & .hamburger-btn {
            opacity: 1;
            transition: opacity 2s ease;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 30px;
            height: 25px;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 1000;

            & span {
                display: block;
                width: 100%;
                height: 3px;
                background-color: #0379FF;
                border-radius: 2px;
                transition: all 0.3s linear;
                transform-origin: 1px;
            }
        }
    }
}

#menu-items[data-isOpen="true"] {
    opacity: 1;
    transform: translateX(0);
}

/* .hamburger-btn span.open:nth-child(1) { */
#hamburger-span-1[data-isOpen="true"] {
    transform: rotate(30deg) translate(5px, 1px);
}

/* .hamburger-btn span.open:nth-child(2) { */
#hamburger-span-2[data-isOpen="true"] {
    opacity: 0;
}

/* .hamburger-btn span.open:nth-child(3) { */
#hamburger-span-3[data-isOpen="true"] {
    transform: rotate(-30deg) translate(5px, -1px);
}

@media (min-width: 768px) {

    .top-bar {

        & .menu-items {
            opacity: 1;
            position: static;
            transform: translateX(0);
            height: auto;
            width: auto;
            background: none;
            flex-direction: row;
            gap: 20px;
            padding: 0;

            & .menu-item {

                & h3 {
                    display: none;
                }

                & a {
                    padding: 0;
                    border-bottom: none;
                }
            }
        }

        & .button-group {
            display: flex;
            align-items: center;
            gap: 15px;

            & .hamburger-btn {
                opacity: 0;
                display: none;
            }
        }
    }
}