.hero-container {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to bottom right,
            rgb(0, 119, 255, .8) 0%,
            rgb(237, 246, 255, .9) 50%,
            rgb(0, 119, 255, .8) 100%),
        url('../images/hero-backgroud.jpg');
}

.hero-content {
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    & .main-message {
        display: flex;
        flex-direction: column;
        align-items: center;

        & h1 {
            font-size: 2em;
        }

        & p {
            margin-top: -20px;
            width: 80%;
            font-size: small;
            color: #607171;

            & strong {
                color: black;
            }
        }
    }
}

.trend-button {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #EDF6FF;
    padding: 10px;
    border-radius: 20px;
    font-size: xx-small;
    color: #0077FF;
    border: 1px solid #0077FF;
    cursor: pointer;
}

.learn-button {
    display: flex;
    background-color: white;
    padding: 1em 2em;
    border-radius: 10px;
    font-size: x-small;
    color: black;
    border: 1px solid #AAA;
    cursor: pointer;
}

.row-index {
    display: flex;
}

.row-index div {
    border-right: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
}

.column-index {
    display: flex;
    flex-direction: column;

    & p {
        color: #607171;
    }
}

.column-index h2 {
    margin: 0;
    padding: 0;
}

#last-child {
    border-right: none;
}

@media (min-width: 600px) {

    .trend-button {
        font-size: small;
    }

    .hero-content {

        & .main-message {

            & h1 {
                font-size: 2.5em;
            }

            & p {
                font-size: medium;
            }
        }
    }

    .learn-button {
        font-size: small;
    }
}

@media (min-width: 768px) {

    .hero-container {
        height: 650px;
    }

    .hero-content {
        gap: 20px;
    }

    .hero-custom-font {
        font-size: medium;
    }
}