body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
p,
a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.padding-top-bottom-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.padding-top-bottom-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.white-background {
    background-color: white;
}

.gray-background {
    background-color: #FBFBFB;
}

.blue-background {
    background-color: #F1F8FF;
}

.primary-blue-background {
    background-color: #0379FF;
}

.content {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.custom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,
            #0379FF 0%,
            #78B6FF 100%);
    border-radius: 10px;
    padding: 1em 2em;
    color: white;
    cursor: pointer;
    border: none;
    font-size: x-small;
}

.custom-text {
    color: #0379FF;
}

.justify-content-center {
    justify-content: center;
}

.white-card-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    & .card {
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
        padding: 20px;
        border-radius: 10px;

        background-color: white;
        border: 1px solid #E0E4E7;
        font-size: small;

        & .card-icon {
            background-color: #0077E1;
            color: white;
            padding: 8px;
            border-radius: 10px;
        }

        & p {
            margin: 0;
            padding: 0;
            text-align: start;
            font-size: small;
        }
    }
}

.row-gap {
    display: flex;
    gap: 10px;
}

.column-gap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 600px) {

    .custom-button {
        font-size: small;
    }
}

@media (min-width: 768px) {

    .white-card-list {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }

    .content {
        width: 70%;
    }

}