.about-image {
    min-height: 300px;
    opacity: .5;
    background-image: url('../images/my-career-support.png');
    clip-path: polygon(0% 5%, 5% 2%, 10% 6%, 15% 1%, 20% 7%, 25% 3%, 30% 8%, 35% 2%, 40% 9%, 45% 4%, 50% 7%, 55% 2%, 60% 8%, 65% 3%, 70% 9%, 75% 1%, 80% 7%, 85% 2%, 90% 8%, 95% 3%, 100% 6%,
            100% 94%, 95% 97%, 90% 92%, 85% 98%, 80% 91%, 75% 99%, 70% 93%, 65% 97%, 60% 92%, 55% 98%, 50% 94%, 45% 100%, 40% 93%, 35% 98%, 30% 91%, 25% 99%, 20% 93%, 15% 97%, 10% 92%, 5% 98%, 0% 94%);
}