.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    & .top-bar {
        height: 80px;
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;

        & .my-career-support-white {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            overflow: hidden;
        }

        & .menu-actions {
            display: flex;
            align-items: center;
            gap: 20px;

            #menu-items[data-isOpen="true"] {
                opacity: 1;
                transform: translateY(80px);
            }

            & .menu-items {
                position: fixed;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
                top: 0;
                left: 0;
                width: 100%;
                margin: 0;
                opacity: 0;
                transform: translateY(-100%);
                transition: transform 0.4s ease-in-out;
                background-color: white;
                z-index: -1;

                & li {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 80px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-top: 1px solid #CEFF1C;

                    & a {
                        height: 80px;
                        text-decoration: none;
                        color: black;
                    }
                }
            }

            .language-settings {
                display: flex;
                gap: 10px;
                background-color: white;
                border-radius: 40px;
                padding: 2px;
                border: 1px solid gray;

                & .language-item {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    & .flat-language img {
                        width: 15px;
                    }

                    & span {
                        font-size: x-small;
                    }
                }

                & .language-item:hover {
                    cursor: pointer;
                }
            }

            .hamburger-btn {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 25px;
                height: 20px;
                background: none;
                border: none;
                cursor: pointer;
                z-index: 2;
                transition: display 2s ease 2s;

                & span {
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: black;
                    border-radius: 2px;
                    transition: all 0.3s linear;
                }

                #hamburger-span-1[data-isOpen="true"] {
                    transform: rotate(40deg) translate(1px, 8px);
                }

                #hamburger-span-2[data-isOpen="true"] {
                    opacity: 0;
                }

                #hamburger-span-3[data-isOpen="true"] {
                    transform: rotate(-40deg) translate(1px, -8px);
                }
            }
        }
    }
}

@media (min-width: 768px) {

    .menu-content {

        & .top-bar {
            width: 80%;

            & .my-career-support-white img {
                width: auto;
            }
        }
    }
}

@media (min-width: 900px) {

    .menu-content {

        & .top-bar {

            & .menu-actions {

                & .menu-items {
                    height: 80px;
                    position: static;
                    flex-direction: row;
                    transform: none;
                    opacity: 1;
                    z-index: 1;
                    border-radius: 20px;

                    & li {
                        border: none;

                        & span {
                            position: relative;
                        }

                        & span::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -5px;
                            height: 4px;
                            width: 0;
                            background-color: #CEFF1C;
                            transition: 1s;
                        }

                        & span:hover::after {
                            width: 80%;
                        }
                    }
                }

                & #menu-items[data-isOpen="true"] {
                    transition: none;
                    transform: none;
                }

                & .hamburger-btn {
                    display: none;
                }
            }
        }
    }
}