.box {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease;
}

.box.visible {
    opacity: 1;
    transform: translateY(0);
}

#about-paragraph-2.visible {
    transition-delay: .4s;
}

#about-paragraph-3.visible {
    transition-delay: .8s;
}