@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #BEBABA;
}

.primary-color {
    color: #CEFF1C;
}

.secondary-color {
    color: #3f7652;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.btn-primary {
    padding: .7em 1.7em;
    background-color: #CEFF1C;
    color: black;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.btn-outline {
    padding: .7em 1.7em;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    color: #CEFF1C;
    border: 1px solid #CEFF1C;
    font-weight: bold;
    cursor: pointer;
    transition: all .6s ease;
    text-decoration: none;
}

.btn-outline:hover {
    background-color: #CEFF1C;
    color: black;
}

.default-white-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.default-gray-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F9FA;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content {
    width: 95%;
}

.grid-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.footer-content {
    background-color: #BEBABA;
    text-align: center;
}

@media (min-width: 768px) {

    .content {
        width: 80%;
    }

    .grid-content {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}