.testimonials-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;

    & .testimonials-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid #eee;
        border-radius: 20px;
        overflow: hidden;
        padding: 40px;

        & p {
            font-style: italic;
        }

        & .testimonials-icon {

            & i {
                font-size: xx-large;
            }
        }
    }
}

@media (min-width: 768px) {

    .testimonials-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}