.workshop-image {
    min-height: 300px;
    opacity: .8;
    background-image: linear-gradient(to top,
            rgba(206, 255, 28, 0.6) 0%,
            rgba(255, 255, 255, 0.8) 100%),
        url('../images/workshop.jpg');
    clip-path: polygon(0% 12%, 5% 9%, 10% 14%, 15% 8%, 20% 11%,
            25% 5%, 30% 10%, 35% 3%, 40% 8%, 45% 2%,
            50% 6%, 55% 1%, 60% 5%, 65% 0%, 70% 4%,
            75% 1%, 80% 6%, 85% 2%, 90% 5%, 95% 1%,
            100% 3%,

            100% 88%, 95% 92%, 90% 85%, 85% 91%, 80% 84%,
            75% 93%, 70% 86%, 65% 95%, 60% 89%, 55% 97%,
            50% 91%, 45% 99%, 40% 92%, 35% 98%, 30% 90%,
            25% 96%, 20% 89%, 15% 95%, 10% 90%, 5% 98%,
            0% 95%);
}