@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #BEBABA;
}

.primary-color {
    color: #CEFF1C;
}

.secondary-color {
    color: #3f7652;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    & .top-bar {
        height: 80px;
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;

        & .my-career-support-white {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            overflow: hidden;
        }

        & .menu-actions {
            display: flex;
            align-items: center;
            gap: 20px;

            & .menu-items {
                position: fixed;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
                top: 0;
                left: 0;
                width: 100%;
                margin: 0;
                opacity: 0;
                transform: translateY(-100%);
                transition: transform 0.4s ease-in-out;
                background-color: white;
                z-index: -1;

                & li {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 80px;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-top: 1px solid #CEFF1C;

                    & a {
                        height: 80px;
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
}

#menu-items[data-isOpen="true"] {
    opacity: 1;
    transform: translateY(80px);
}

.language-settings {
    display: flex;
    gap: 10px;
    background-color: white;
    border-radius: 40px;
    padding: 2px;
    border: 1px solid gray;
}

.language-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.language-item:hover {
    cursor: pointer;
}

.language-item span {
    font-size: x-small;
}

.flat-language img {
    width: 15px;
}

.hamburger-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;

    transition: display 2s ease 2s;
}

.hamburger-btn span {
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    border-radius: 2px;
    transition: all 0.3s linear;
}

#hamburger-span-1[data-isOpen="true"] {
    transform: rotate(40deg) translate(1px, 8px);
}

#hamburger-span-2[data-isOpen="true"] {
    opacity: 0;
}

#hamburger-span-3[data-isOpen="true"] {
    transform: rotate(-40deg) translate(1px, -8px);
}

.hero-content {
    display: flex;
    justify-content: center;

    background-image:
        linear-gradient(to top right,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(150, 150, 150, 0.7) 50%,
            rgba(255, 255, 255, 0.9) 100%),
        url('images/hero-background-2.png');

    background-size: cover;
    background-position: center;
    height: 350px;
}

.hero-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.hero {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    ;
}

.hero-top h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 48px;
    margin: 0;
}

.hero-top div p {
    font-size: 12px;
}

.hero-top p {
    font-size: 12px;
}

.hero-top svg {
    width: 100px;
}

.hero-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.btn-primary {
    padding: .7em 1.7em;
    background-color: #CEFF1C;
    color: black;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.btn-outline {
    padding: .7em 1.7em;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    color: #CEFF1C;
    border: 1px solid #CEFF1C;
    font-weight: bold;
    cursor: pointer;
    transition: all .6s ease;
    text-decoration: none;
}

.btn-outline:hover {
    background-color: #CEFF1C;
    color: black;
}

.default-white-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-image {
    min-height: 300px;
    opacity: .5;
    background-image: url('images/my-career-support.png');
    clip-path: polygon(0% 5%, 5% 2%, 10% 6%, 15% 1%, 20% 7%, 25% 3%, 30% 8%, 35% 2%, 40% 9%, 45% 4%, 50% 7%, 55% 2%, 60% 8%, 65% 3%, 70% 9%, 75% 1%, 80% 7%, 85% 2%, 90% 8%, 95% 3%, 100% 6%,
            100% 94%, 95% 97%, 90% 92%, 85% 98%, 80% 91%, 75% 99%, 70% 93%, 65% 97%, 60% 92%, 55% 98%, 50% 94%, 45% 100%, 40% 93%, 35% 98%, 30% 91%, 25% 99%, 20% 93%, 15% 97%, 10% 92%, 5% 98%, 0% 94%);
}

.workshop-image {
    min-height: 300px;
    opacity: .5;
    background-image: url('images/workshop.jpg');
    clip-path: polygon(0% 12%, 5% 9%, 10% 14%, 15% 8%, 20% 11%,
            25% 5%, 30% 10%, 35% 3%, 40% 8%, 45% 2%,
            50% 6%, 55% 1%, 60% 5%, 65% 0%, 70% 4%,
            75% 1%, 80% 6%, 85% 2%, 90% 5%, 95% 1%,
            100% 3%,

            100% 88%, 95% 92%, 90% 85%, 85% 91%, 80% 84%,
            75% 93%, 70% 86%, 65% 95%, 60% 89%, 55% 97%,
            50% 91%, 45% 99%, 40% 92%, 35% 98%, 30% 90%,
            25% 96%, 20% 89%, 15% 95%, 10% 90%, 5% 98%,
            0% 95%);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .contact-input {
        border-radius: 10px;
        border: 1px solid gray;
        padding: 10px;
        font-family: 'Inter', sans-serif;
    }

    & #message {
        font-family: 'Inter', sans-serif;
        resize: none;
        height: 100px;
    }
}

.contacts-image {
    min-height: 300px;
    opacity: .5;
    background-image: url('images/contact.jpg');
    background-position: center;
    clip-path: polygon(0% 2%, 10% 8%, 20% 5%, 30% 12%, 40% 15%, 50% 10%, 60% 6%, 70% 3%, 85% 7%, 100% 0%,
            100% 50%,
            100% 92%, 90% 95%, 80% 90%, 70% 98%, 60% 94%, 50% 91%, 40% 88%, 30% 95%, 15% 92%, 0% 100%);
}

.pricing-plan-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.pricing-plan-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #F8F9FA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee;
    border-radius: 20px;
    overflow: hidden;
    padding: 40px;
}

.pricing-plan-card-icon {
    background-color: #3f7652;
    padding: 20px;
    font-size: xx-large;
    color: white;
    border-radius: 50px;
}

.pricing-plan-card-premium {
    display: flex;
    gap: 20px;
}

.pricing-plan-features h2 {
    text-align: center;
}

.default-gray-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F9FA;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content {
    width: 95%;
}

.grid-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

.testimonials-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

.testimonials-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee;
    border-radius: 20px;
    overflow: hidden;
    padding: 40px;
}

.testimonials-card p {
    font-style: italic;
}

.testimonials-icon i {
    font-size: xx-large;
}

.footer-content {
    background-color: #BEBABA;
    text-align: center;
}

@media (min-width: 460px) {

    .hero {
        height: 70%;
    }
}

@media (min-width: 632px) {

    .hero {
        height: 50%;
    }
}

@media (min-width: 768px) {

    .menu-content {

        & .top-bar {
            width: 80%;

            & .my-career-support-white img {
                width: auto;
            }
        }
    }

    .hero-content {
        height: 440px;
    }

    .hero {
        height: 40%;
    }

    .hero-top svg {
        width: 180px;
    }

    .hero-top div p {
        font-size: 18px;
    }

    .hero-top p {
        font-size: 18px;
    }

    .content {
        width: 80%;
    }

    .grid-content {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .pricing-plan-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .testimonials-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (min-width: 900px) {

    .menu-content {

        & .top-bar {

            & .menu-actions {

                & .menu-items {
                    height: 80px;
                    position: static;
                    flex-direction: row;
                    transform: none;
                    opacity: 1;
                    z-index: 1;
                    border-radius: 20px;

                    & li {
                        border: none;

                        & span {
                            position: relative;
                        }

                        & span::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: -5px;
                            height: 4px;
                            width: 0;
                            background-color: #CEFF1C;
                            transition: 1s;
                        }

                        & span:hover::after {
                            width: 80%;
                        }
                    }
                }

                & #menu-items[data-isOpen="true"] {
                    transition: none;
                    transform: none;
                }
            }
        }
    }

    .hamburger-btn {
        display: none;
    }
}